<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified">
  				<li role="presentation" class="active"><a href="{{ path('homepage') }}">Home</a></li>
  			{% if is_granted('ROLE_USER') %}
				  <li role="presentation"><a href="{{ path('task_list') }}">List of tasks</a></li>
				{% endif %}
			  </ul>
	</div>
</footer>
