{% extends 'base.html.twig' %}

{% block title %}wf3tm list of projects{% endblock %}

{% block body %}

	<div class="container">
    	{% if projects is empty %}
    		<p>No projects found in the application</p>
    	{% else %}
            <table class="table table-striped">
            	<thead>
            		<tr>
            			<th>Creation date</th>
            			<th>Title</th>
            			<th>Responsible</th>
            			<th></th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for project in projects %}
            			<tr>
            				<td>{{ project.getCreationDate()|date('Y-m-d H:i:s') }}</td>
            				<td>{{ project.getTitle() }}</td>
            				<td>{{ project.getResponsible().getName() }}</td>
            			</tr>
            		{% endfor %}
            	</tbody>
            </table>
    	{% endif %}
	
		<div class="element-success mt-5">
		    {{ form(projectForm) }}
		</div>
	</div>
{% endblock %}